*{
    /* font-family: montserrat; */
}
body{
    background-color: #f1fbff;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}
.carousel-control-prev,
.carousel-control-next{
    z-index: 4;
}
.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-nav .nav-item{
    padding: 0px 5px;
}
.navbar-brand{
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-brand:focus,
.navbar-brand:hover{
    color: #000;
}
.navbar-nav .nav-link:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}
.btn{
    width: 150px;
    background-color: rgb(175, 61, 61);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    font-size: 17px;
}
.btn:hover{
    background-color: brown;
    color: #fff;
}
@media only screen and (min-width:768px) and (max-width:1080px){
    .carousel-caption{
        bottom: 180px;
    }
}
@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 200px;
    }
    .carousel-caption h5{
        font-size: 32px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 16px;
        margin-top: 20px;
    }
}
@media only screen and (max-width:767px){
    .card{
        margin-top: 20px;
    }
}
@media only screen and (min-width:768px) and (max-width:1080px){
    .card{
        margin-top: 23px;
    }
}
@media only screen and (max-width:767px){
    .about-text{
        margin-top: 20px;
        text-align: center;
    }
}
@media only screen and (min-width:1080px){
    .portfolio .card{
        margin-bottom: 20px;
    }
}
#about{
    margin-top: 5%;
}
#services{
    margin-top: 2%;
}
#services .card-body i{
    font-size: 50px;
}
#services .card-body{
    font-size: 50px;
}
.portfolio .r2 .card{
    width: 25rem;
}
.portfolio .r2 .card img{
    margin-top: 15px;
    border-radius: 5px;
}
.portfolio .r2 .card{
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.244);
}
.portfolio .r2{
    display: flex;
    justify-content: space-around;
}
.portfolio .r2 .card-body{
    text-align: center;
}
.team-section .card-body a{
    font-size: 18px;
}
.team-section .card{
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.244);
}
.contact{
    margin-top: 10%;
}
.contact .btn{
    margin-left: 10px;
}